USE [master]
GO
/****** Object:  Database [TimeSeriesDB]    Script Date: 9/24/2021 7:27:11 AM ******/
CREATE DATABASE [TimeSeriesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeSeriesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimeSeriesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimeSeriesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimeSeriesDB_log.ldf' , SIZE = 598016KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeSeriesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimeSeriesDB]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 9/24/2021 7:27:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Location] [varchar](50) NULL,
 CONSTRAINT [PK_Building] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataFields]    Script Date: 9/24/2021 7:27:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataFields](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_DataFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objects]    Script Date: 9/24/2021 7:27:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objects](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Objects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Readings]    Script Date: 9/24/2021 7:27:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuildingId] [smallint] NOT NULL,
	[ObjectId] [tinyint] NOT NULL,
	[DataFieldId] [tinyint] NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[TImestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Readings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([Id], [Name], [Location]) VALUES (1, N'City Centre Dhaka', N'Dhaka')
INSERT [dbo].[Buildings] ([Id], [Name], [Location]) VALUES (2, N'BRB Cable Tower*', N'Kushtia')
INSERT [dbo].[Buildings] ([Id], [Name], [Location]) VALUES (3, N'Hilton Dhaka*', N'Dhaka')
SET IDENTITY_INSERT [dbo].[Buildings] OFF
GO
SET IDENTITY_INSERT [dbo].[DataFields] ON 

INSERT [dbo].[DataFields] ([Id], [Name]) VALUES (1, N'DF1')
INSERT [dbo].[DataFields] ([Id], [Name]) VALUES (2, N'DF2')
INSERT [dbo].[DataFields] ([Id], [Name]) VALUES (3, N'DF3')
SET IDENTITY_INSERT [dbo].[DataFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Objects] ON 

INSERT [dbo].[Objects] ([Id], [Name]) VALUES (1, N'Obj1')
INSERT [dbo].[Objects] ([Id], [Name]) VALUES (2, N'obj2')
INSERT [dbo].[Objects] ([Id], [Name]) VALUES (3, N'Obj3')
SET IDENTITY_INSERT [dbo].[Objects] OFF
GO
SET IDENTITY_INSERT [dbo].[Readings] ON 

INSERT [dbo].[Readings] ([Id], [BuildingId], [ObjectId], [DataFieldId], [Value], [TImestamp]) VALUES (1, 1, 3, 4, CAST(17.75 AS Decimal(18, 2)), CAST(N'2021-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Readings] ([Id], [BuildingId], [ObjectId], [DataFieldId], [Value], [TImestamp]) VALUES (2, 2, 2, 1, CAST(14.25 AS Decimal(18, 2)), CAST(N'2021-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Readings] ([Id], [BuildingId], [ObjectId], [DataFieldId], [Value], [TImestamp]) VALUES (3, 3, 3, 4, CAST(16.19 AS Decimal(18, 2)), CAST(N'2021-07-01T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Readings] OFF
GO
/****** Object:  StoredProcedure [dbo].[spGetAllEmployee]    Script Date: 9/24/2021 7:27:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spGetAllEmployee]  
as  
begin  
select Id,Name,Location from Building  
end  
GO
USE [master]
GO
